<section *ngIf="this.testimonial$ | async as testimonial;" class="rounded-xl bg-slate-200 border-slate-900 border-2 relative isolate overflow-hidde px-6 py-24 sm:py-32 lg:px-8 w-[100%] h-[100%]">
    <div class="mx-auto">
      <img class="mx-auto h-12" src="https://tailwindui.com/img/logos/workcation-logo-indigo-600.svg" alt="">
      <figure class="mt-10">
        <blockquote class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9">
          <p class="line-clamp-2">{{ testimonial.quote }}</p>
        </blockquote>
        <figcaption class="mt-10">
          <img class="mx-auto h-10 w-10 rounded-full" src="{{ testimonial.profileIcon }}" alt="">
          <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <div class="font-semibold text-gray-900">{{ testimonial.name }}</div>
            <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
              <circle cx="1" cy="1" r="1" />
            </svg>
            <div class="text-gray-600">Happy Developer</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </section>
