<!-- Highlight Card -->
<app-testimonial class="w-full h-full"></app-testimonial>

<br>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr</p>
<br>

<app-testimonial-battery class="w-full"></app-testimonial-battery>
<app-testimonial-battery class="w-full"></app-testimonial-battery>

<app-testimonial-battery class="w-full"></app-testimonial-battery>

<app-testimonial-battery class="w-full"></app-testimonial-battery>

<app-testimonial-battery class="w-full"></app-testimonial-battery>
